<!DOCTYPE html>
<html lang="fr-FR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#00ffff">
    <meta name="author" content="Aytixel">
    <meta name="description" content="Retrouver ici toutes les dernières vidéos qui viennent juste de plopper.">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>Plop</title>
    <link rel="preload stylesheet" as="style" type="text/css" href="/css/index.css">
    <script src="https://unpkg.com/mol_time_all@1.1/web.js"></script>
    <script src="https://unpkg.com/javascript-time-ago@2.5/bundle/javascript-time-ago.js"></script>
    {{> theme-script}}
    {{clerk-script}}
    <script src="/js/index.mjs" type="module"></script>
</head>

<body>
    {{> nav-bar}}
    <main>
        <div id="video_list_container">
            <div id="video_list">
                {{#each videos as |video|}}
                <div tabindex="0" aria-label="{{video.title}}">
                    <video-preview data-uuid="{{video.uuid}}" data-duration="{{video.duration}}"></video-preview>
                    <a class="channel_profil_picture" href="#">
                        <img src="{{video.channel_info.profil_picture}}" alt="Photo de profile de la chaine" width="40"
                            height="40" loading="lazy">
                    </a>
                    <div class="info">
                        <a href="/watch/{{video.uuid}}" aria-label="{{video.title}}">
                            <h2>{{video.title}}</h2>
                        </a>
                        <a class="channel_name" href="#">
                            <h3>{{video.channel_info.username}}</h3>
                        </a>
                        <a href="/watch/{{video.uuid}}" aria-label="{{video.title}}">
                            <strong class="views_time"><span class="views" data-views="{{video.views}}"></span> • <time
                                    class="time" datetime="{{video.timestamp}}"></time></strong>
                        </a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </main>
    <footer></footer>
</body>

</html>