<!DOCTYPE html>
<html lang="fr-FR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#00ffff">
    <meta name="author" content="Aytixel">
    <meta name="description" content="Sur cette page mette en ligne toutes vos vidéos, il n'y a pas plus simple.">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>Mettre ligne une vidéo</title>
    <link rel="preload stylesheet" as="style" type="text/css" href="/css/upload.css">
    <script src="https://unpkg.com/mol_time_all@1.1/web.js"></script>
    <script src="https://unpkg.com/javascript-time-ago@2.5/bundle/javascript-time-ago.js"></script>
    {{clerk-script}}
    <script src="/js/upload.mjs" type="module"></script>
</head>

<body>
    {{> nav-bar}}
    <header>
        <p class="banner important" hidden="">
            Votre navigateur est incompatible avec le système d'encodage.
            <br>
            Essayer un autre navigateur tel quel <strong>Google Chrome, Opera ou Edge.</strong>
        </p>
        <form id="video_upload_form">
            <div id="video_upload_data">
                <video-player data-width="426" data-height="240"></video-player>
                <img src="" alt="Miniature de la vidéo" width="426" height="240" id="thumbnail">
            </div>
            <div id="video_upload_inputs">
                <label class="button" for="video_filepicker">
                    Choisir une vidéo
                    <input type="file" accept="video/ogg,video/webm,video/mp4" id="video_filepicker" required>
                </label>
                <label class="button" for="thumbnail_filepicker">
                    Choisir une miniature
                    <input type="file" accept="image/png,image/jpeg,image/webp,image/avif" id="thumbnail_filepicker"
                        required>
                </label>
                <input type="text" minlength="1" maxlength="100" name="title" placeholder="Titre" required>
                <input type="text" maxlength="500" name="tags" placeholder="Tags séparer par des virgules">
                <textarea maxlength="5000" rows="2" name="description" placeholder="Description"></textarea>
                <input class="important" type="submit" value="Transcoder et télécharger la vidéo">
            </div>
            <div id="video_upload_progress" hidden="">
                <label class="button" for="video_progress" hidden="">
                    <span>Encodage vidéo</span>
                    <progress id="video_progress" value="0" max="1"></progress>
                </label>
                <label class="button" for="audio_progress" hidden="">
                    <span>Encodage audio</span>
                    <progress id="audio_progress" value="0" max="1"></progress>
                </label>
                <label class="button" for="upload_progress">
                    <span>Téléchargement</span>
                    <progress id="upload_progress"></progress>
                </label>
            </div>
        </form>
    </header>
    <hr>
    <main>
        <div id="video_list_options">
            <input id="video_list_select_all" type="checkbox" aria-label="Sélectionner toutes les vidéos">
            <button id="video_list_delete">Supprimer</button>
        </div>
        <ul id="video_list">
            {{#each videos as |video|}}
            <li class="button border" tabindex="0" data-uuid="{{video.uuid}}" aria-label="{{video.title}}">
                <video-preview data-uuid="{{video.uuid}}" data-duration="{{video.duration}}"></video-preview>
                <div class="top">
                    <span class="title">{{video.title}}</span><span class="vues">{{video.vues}}</span><time
                        datetime="{{video.timestamp}}"></time>
                </div>
                <div class="bottom">
                    {{#each resolutions as |resolution_|}}
                    {{#with resolution_}}
                    <span>{{resolution}}p {{#if (eq state "available")}}✅{{/if}}{{#if (eq state
                        "unavailable")}}🚫{{/if}}{{#if (eq state "uploading")}}⚠️{{/if}}</span>
                    {{/with}}
                    {{/each}}
                </div>
            </li>
            {{/each}}
        </ul>
    </main>
    <footer></footer>
</body>

</html>