<!DOCTYPE html>
<html lang="fr-FR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#00ffff">
    <meta name="author" content="Aytixel">
    <meta name="description" content="{{meta_description}}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>{{title}}</title>
    <link rel="preload stylesheet" as="style" type="text/css" href="/css/watch.css">
    <script src="https://unpkg.com/mol_time_all@1.1/web.js"></script>
    <script src="https://unpkg.com/javascript-time-ago@2.5/bundle/javascript-time-ago.js"></script>
    {{> theme-script}}
    {{clerk-script}}
    <script>
        const video_metadata = JSON.parse(`{
            "uuid": "{{uuid}}",
            "views": {{views}},
            "duration": {{duration}},
            "framerate": {{framerate}},
            "title": "{{title}}",
            "resolutions": {{ resolutions }},
            "lengths": {{ lengths }},
            "bitrates": {{ bitrates }},
            "has_audio": {{ has_audio }}
        }`)

        video_metadata.date = new $mol_time_moment("{{timestamp}}")

        Object.freeze(video_metadata)
    </script>
    <script type="module" src="/js/watch.mjs"></script>
</head>

<body>
    {{> nav-bar}}
    <main>
        <div id="main_container">
            <section id="video_player_container">
                <video-player data-width="1280" data-height="720" data-duration="{{duration}}"
                    data-title="{{title}}"></video-player>
            </section>
            <section id="video_info">
                <h1 id="video_info_title">{{title}}</h1>
                <a id="video_info_channel" href="#">
                    <img src="{{channel_profil_picture}}" alt="Photo de profile de la chaine" width="40" height="40">
                    <div>
                        <h2>{{channel_username}}</h2>
                    </div>
                </a>
                <div id="video_info_description">
                    <div>
                        <span id="video_info_views"></span>
                        <time id="video_info_time" datetime="{{timestamp}}"></time>
                        <span>
                            {{#each tags_short as |tag|}}
                            <a href="#">#{{tag}}</a>
                            {{/each}}
                        </span>
                    </div>
                    <p>
                        {{description}}
                        {{#if tags}}
                        <br>
                        <br>
                        {{/if}}
                        {{#each tags as |tag|}}
                        <a href="#">#{{tag}}</a>
                        {{/each}}
                    </p>
                    <button id="video_info_show_more" data-switch_content="Moins">...afficher
                        plus</button>
                </div>
            </section>
        </div>
    </main>
    <footer></footer>
</body>

</html>