<!DOCTYPE html>
<html lang="fr-FR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#00ffff">
    <meta name="author" content="Aytixel">
    <meta name="description" content="{{meta_description}}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>{{title}}</title>
    <link rel="preload stylesheet" as="style" type="text/css" href="/css/watch.css">
    <script src="https://unpkg.com/mol_time_all@1.1/web.js"></script>
    <script src="https://unpkg.com/javascript-time-ago@2.5/bundle/javascript-time-ago.js"></script>
    <script>
        const video_metadata = JSON.parse(`{
            "uuid": "{{uuid}}",
            "vues": {{vues}},
            "duration": {{duration}},
            "framerate": {{framerate}},
            "title": "{{title}}",
            "resolutions": {{ resolutions }},
            "lengths": {{ lengths }},
            "bitrates": {{ bitrates }},
            "has_audio": {{ has_audio }}
        }`)

        video_metadata.date = new $mol_time_moment("{{timestamp}}")

        Object.freeze(video_metadata)
    </script>
    <script type="module" src="/js/watch.mjs"></script>
</head>

<body>
    <main>
        <div id="main_container">
            <section id="video_player_container">
                <div id="video_player" data-ambient_light="true" data-paused="true" data-ended="false"
                    data-volume="high" data-fullscreen="false">
                    <canvas width="256" height="144"></canvas>
                    <video autoplay="" playsinline="" width="1280" height="720"></video>
                    <div id="video_player_overlay" data-show="false">
                        <div id="video_player_title">{{title}}</div>
                        <div id="video_player_controls">
                            <input type="range" min="0" value="0" max="{{duration}}" step="0.05"
                                id="video_player_progress_slider" aria-label="Barre de Progression">
                            <div>
                                <button id="video_player_play_button" aria-label="Bouton Play">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path d="M6 5H8V19H6V5ZM16 5H18V19H16V5Z"></path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path
                                            d="M19.376 12.4158L8.77735 19.4816C8.54759 19.6348 8.23715 19.5727 8.08397 19.3429C8.02922 19.2608 8 19.1643 8 19.0656V4.93408C8 4.65794 8.22386 4.43408 8.5 4.43408C8.59871 4.43408 8.69522 4.4633 8.77735 4.51806L19.376 11.5838C19.6057 11.737 19.6678 12.0474 19.5146 12.2772C19.478 12.3321 19.4309 12.3792 19.376 12.4158Z">
                                        </path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                        <path
                                            d="M6 4H21C21.5523 4 22 4.44772 22 5V12H20V6H6V9L1 5L6 1V4ZM18 20H3C2.44772 20 2 19.5523 2 19V12H4V18H18V15L23 19L18 23V20Z">
                                        </path>
                                    </svg>
                                </button>
                                <button id="video_player_volume_button" aria-label="Bouton Volume">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path
                                            d="M2 16.0001H5.88889L11.1834 20.3319C11.2727 20.405 11.3846 20.4449 11.5 20.4449C11.7761 20.4449 12 20.2211 12 19.9449V4.05519C12 3.93977 11.9601 3.8279 11.887 3.73857C11.7121 3.52485 11.3971 3.49335 11.1834 3.66821L5.88889 8.00007H2C1.44772 8.00007 1 8.44778 1 9.00007V15.0001C1 15.5524 1.44772 16.0001 2 16.0001ZM23 12C23 15.292 21.5539 18.2463 19.2622 20.2622L17.8445 18.8444C19.7758 17.1937 21 14.7398 21 12C21 9.26016 19.7758 6.80629 17.8445 5.15557L19.2622 3.73779C21.5539 5.75368 23 8.70795 23 12ZM18 12C18 10.0883 17.106 8.38548 15.7133 7.28673L14.2842 8.71584C15.3213 9.43855 16 10.64 16 12C16 13.36 15.3213 14.5614 14.2842 15.2841L15.7133 16.7132C17.106 15.6145 18 13.9116 18 12Z">
                                        </path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path
                                            d="M8.88889 16.0001H5C4.44772 16.0001 4 15.5524 4 15.0001V9.00007C4 8.44778 4.44772 8.00007 5 8.00007H8.88889L14.1834 3.66821C14.3971 3.49335 14.7121 3.52485 14.887 3.73857C14.9601 3.8279 15 3.93977 15 4.05519V19.9449C15 20.2211 14.7761 20.4449 14.5 20.4449C14.3846 20.4449 14.2727 20.405 14.1834 20.3319L8.88889 16.0001ZM18.8631 16.5911L17.4411 15.1691C18.3892 14.4376 19 13.2902 19 12.0001C19 10.5697 18.2493 9.31476 17.1203 8.60766L18.5589 7.16906C20.0396 8.26166 21 10.0187 21 12.0001C21 13.8422 20.1698 15.4905 18.8631 16.5911Z">
                                        </path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path
                                            d="M5.88889 16.0001H2C1.44772 16.0001 1 15.5524 1 15.0001V9.00007C1 8.44778 1.44772 8.00007 2 8.00007H5.88889L11.1834 3.66821C11.3971 3.49335 11.7121 3.52485 11.887 3.73857C11.9601 3.8279 12 3.93977 12 4.05519V19.9449C12 20.2211 11.7761 20.4449 11.5 20.4449C11.3846 20.4449 11.2727 20.405 11.1834 20.3319L5.88889 16.0001ZM20.4142 12.0001L23.9497 15.5356L22.5355 16.9498L19 13.4143L15.4645 16.9498L14.0503 15.5356L17.5858 12.0001L14.0503 8.46454L15.4645 7.05032L19 10.5859L22.5355 7.05032L23.9497 8.46454L20.4142 12.0001Z">
                                        </path>
                                    </svg>
                                </button>
                                <input type="range" min="0" max="1" value="1" step="0.05"
                                    id="video_player_volume_slider" aria-label="Barre de Volume">
                                <span>
                                    <span id="video_player_progress">0:00</span> / <span
                                        id="video_player_duration">0:00</span>
                                </span>
                                <span class="filler"></span>
                                <button id="video_player_popup_button" aria-label="Bouton Picture-in-Picture">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path
                                            d="M21 3C21.5523 3 22 3.44772 22 4V11H20V5H4V19H10V21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3H21ZM21 13C21.5523 13 22 13.4477 22 14V20C22 20.5523 21.5523 21 21 21H13C12.4477 21 12 20.5523 12 20V14C12 13.4477 12.4477 13 13 13H21Z">
                                        </path>
                                    </svg>
                                </button>
                                <button id="video_player_fullscreen_button" aria-label="Bouton Plein Écran">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path
                                            d="M8 3V5H4V9H2V3H8ZM2 21V15H4V19H8V21H2ZM22 21H16V19H20V15H22V21ZM22 9H20V5H16V3H22V9Z">
                                        </path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path
                                            d="M18 7H22V9H16V3H18V7ZM8 9H2V7H6V3H8V9ZM18 17V21H16V15H22V17H18ZM8 15V21H6V17H2V15H8Z">
                                        </path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="video_info">
                <h1 id="video_info_title">{{title}}</h1>
                <div id="video_info_description">
                    <div>
                        <span id="video_info_vues"></span>
                        <time id="video_info_time" datetime="{{timestamp}}"></time>
                        <span>
                            {{#each tags_short as |tag|}}
                            <a href="#">#{{tag}}</a>
                            {{/each}}
                        </span>
                    </div>
                    <p>
                        {{description}}
                        {{#if tags}}
                        <br>
                        <br>
                        {{/if}}
                        {{#each tags as |tag|}}
                        <a href="#">#{{tag}}</a>
                        {{/each}}
                    </p>
                    <button id="video_info_show_more" data-switch_content="Moins">...afficher
                        plus</button>
                </div>
            </section>
        </div>
    </main>
    <footer></footer>
</body>

</html>