<!DOCTYPE html>
<html lang="fr-FR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aytixel">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>{{title}}</title>
</head>

<body>
    <video src="/video/{{uuid}}/{{resolution}}" data-resolution="{{resolution}}" data-framerate="{{{framerate}}}"
        data-duration="{{duration}}" width="1280" height="720" controls>
        {{#each resolutions as |resolution|}}
        <source src="/video/{{../uuid}}/{{resolution}}" data-resolution="{{resolution}}" type="video/webm">
        {{/each}}
    </video>
    <div id="title">{{title}}</div>
    <time datetime="{{timestamp}}Z">{{timestamp}}Z</time>
    <div id="description">{{description}}</div>
</body>

</html>